body{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    margin:0;
    width:100%;
    margin-top:7vw;
    background-color: indigo;
}
.main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:30px;
    background-color:white;
    border-radius: 30px;
}

.numbers-and-operators-container{
    display:flex;
    zoom: 2.5;
    gap:1px;
    
}

.numbers-container{
    display:flex;
    flex-wrap: wrap-reverse;
    max-width: 80px;
    flex: 1;
    resize: both 2;
    zoom: 1.2;
}

.operators-container{
    display:flex;
    flex-direction: column;

}
.operator{
    background-color: maroon;
}
button{
    min-width: 10px;
    min-height: 10px;
    flex: 1 0 auto;
    background-color: indigo;
    color:white;
    border-radius: 6px;
    border:white 2px solid;
    
}

button:hover{
    background-color:wheat;
    color:indigo;
    border:indigo 2px solid;
    font-weight: 700;
    font-size: 14px;

}

.calculator-screen{
    height:40px;
    margin-bottom: 15px;
    margin-top: 10px;
    width:200px;
    zoom: 2.5;
    font-size: larger;
    border:6px indigo solid;
    border-radius: 8px;
    padding-left: 5px;
    

}

.calculate{
    display:flex;
    margin-left: 20px;
    justify-content:space-around;
    align-items: center;
    flex-direction: column-reverse;

}

.header{
    font-size: 55px;
    font-weight: 500;
}

.backspace {
    flex: 0 1 auto;
    padding: 3px 5px;
    background-color:rebeccapurple;
}


.equals {
    flex: 0 1 auto;
    padding:3px 5px;
    background-color:rebeccapurple;
}

.clear {
    background-color:rebeccapurple;
}
