body{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    margin:0;
    width:100%;
    margin-top:7vw;
}
.main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.numbers-and-operators-container{
    display:flex;
    zoom: 2.5;
    gap:1px;
    
}

.numbers-container{
    display:flex;
    flex-wrap: wrap-reverse;
    max-width: 80px;
    flex: 1;
    resize: both 2;
}

.operators-container{
    display:flex;
    flex-direction: column;

}

button{
    min-width: 10px;
    min-height: 10px;
    flex: 1 0 auto;
    
}

.calculator-screen{
    height:40px;
    margin-bottom: 20px;
    margin-top: 20px;
    width:200px;
    zoom: 2.5;
    font-size: larger;

}

.calculate{
    display:flex;
    margin-left: 20px;
    justify-content:space-between;
    align-items: center;
    flex-direction: column-reverse;

}

.header{
    font-size: 55px;
    font-weight: 500;
}

.backspace {
    flex: 0 1 auto;
}

.equals {
    flex: 0 1 auto;
}